@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

a
{
	color: #551A8B;
}

.container > div {
	display: flex;
}

.container
{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
}

html, body {
  box-sizing: border-box;
  background-color: white;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.header
{
	padding-top: 40px;
	align-items: center;
/*
	animation: slide_in 0.5s ease-in;
*/
}

.header a
{
	color: black;
	font-family: 'Anonymous Pro', monospace;
	text-decoration: none;
}

.content 
{
	font-family: 'Roboto Mono', monospace;
	font-size: 3em;
	background-color: #212121;
	color: white;
	animation: fade 1s;
}

.content p
{	
	padding-left:  50px;
	padding-right:  50px;
}

.content p a
{	
	text-decoration: none;

}

.content p a:hover
{	
	color: 	#C0C0C0;
	text-decoration: underline;
}

.footer 
{
	background-color: #212121;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Slabo 27px', serif;
	font-size: 2em;
}

.footer a
{
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.info
{
	background-color: white;
	justify-content: center;
	align-items: center;
}

.info ul
{
	list-style: none;
}

.info ul li
{
	padding: 50px;
	display: inline;
}

.projects
{
	background-color: white;
	/*
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	*/
}

.zarco
{
}

.zarco:hover
{
	background-color: grey;
}

.zarco img
{
	/*border: 3px solid black;*/
}

.rcc
{
	background-color: #0E5833;
}

.rcc:hover
{
	background-color: #fac959;
}

.sbdc
{
}

.sbdc:hover
{
	background-color: black;
}

.grid > div {
    display: flex;
}

.grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ion-icon {
  font-size: 72px;
}

@keyframes fade
{
	from
	{
		opacity: 0;
	}	
	to
	{
		opacity: 1;
	}
}


@keyframes slide_in
{
	0%
	{
		transform: skewX(53deg) translateX(-500px);
	}
	100%
	{
		transform: skew(0deg);
	}
}



.line {
      font-size: 4em;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      white-space: nowrap;
      overflow: hidden;transform: translateY(-50%);
}


/*Animation*/

.anim-typewriter {
      animation: typewriter 2s steps( 30) 0s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width:  565px;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}


@media screen and (min-width: 1200px)
{
		.container
		{
			margin-left: 100px;
			margin-right: 100px;
		}
}
