a
{
	color: #551A8B;
}

.container > div {
	display: flex;
}

.container
{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
}

html, body {
  box-sizing: border-box;
  background-color: black;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.header
{
	background-color: black;
	align-items: center;
	animation: slide_in 0.5s ease-in;
}

.header a
{
	color: white;
	font-family: 'Slabo 27px', serif;
	text-decoration: none;
	font-size: 4em;
    color: #41FF00;
	
}

.content 
{
	font-family: 'Roboto Mono', monospace;
	font-size: 3em;
	background-color: #212121;
	color: #41FF00;
	animation: fade 1s;
}

.content p
{	
	padding-left:  50px;
	padding-right:  50px;
}

.content p a
{	
	text-decoration: none;

}

.content p a:hover
{	
	color: 	#C0C0C0;
	text-decoration: underline;
}

.footer 
{
	background-color: #212121;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Slabo 27px', serif;
	font-size: 2em;
}

.footer a
{
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.info
{
	background-color: white;
	justify-content: center;
	align-items: center;
}

.info ul
{
	list-style: none;
}

.info ul li
{
	padding: 50px;
	display: inline;
}

ion-icon {
  font-size: 64px;
}

@keyframes fade
{
	from
	{
		opacity: 0;
	}
	
	to
	{
		opacity: 1;
	}
}

@keyframes slide_in
{
	0%
	{
		transform: skewX(53deg) translateX(-500px);
	}
	100%
	{
		transform: skew(0deg);
	}
}

@media screen and (min-width: 1200px)
{
		.container
		{
			margin-left: 100px;
			margin-right: 100px;
		}
}
