.container {
    height: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 150px auto 75px auto 75px 200px;
	
    grid-template-areas: 
        "h h h h h h h h h h h h"
	"i i i i i i i i i i i i"
	"c c c c c c c c c c c c"
	". . . . . . . . . . . ."
	"p p p p p p p p p p p p" 
	". . . . . . . . . . . ."
	"f f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}

.info
{
	grid-area: i;
}

.projects
{
	grid-area: p;
}

/*------------------------------------------------*/

.grid
{
display: grid;
grid-template-columns: repeat(1, 1fr);    
    grid-template-rows: 1fr;
    grid-gap: 50px;
    grid-auto-flow: dense;
    grid-template-areas:
    "r"
    "sb"
    "z";
}

.zarco
{
	grid-area: z;
}

.rcc
{
	grid-area: r;
}

.sbdc
{
	grid-area: sb;
}


/*
div:nth-child(even) {
    background: red;
}

div:nth-child(odd) {
    background: blue;
}
*/
